<h1>Plot samples</h1>
<p />
<label for="samples_dir">Data directory:</label>
<input type="text" id="samples_dir" name="samples_dir" size="70" value="<%= @samples_dir %>" />
<input type="button" value="refresh samples list" onClick="refreshSamplesList(); return false;" />
<p />
<table>
	<tr>
		<td><label for="samples">Samples</label></td>
		<td><select id="samples" name="samples"></select></td>
		<td><input type="button" value="plot selected sample" onClick="go(); return false;" /></td>
		<td><input type="button" value="reset plot" onClick="resetPlot(); return false;" /></td>
		<td><input type="button" value="csv" onClick="csvDownload(); return false;" /></td>
	</tr>
</table>

<p />
<div id="displaychoices">
	Display:
	<input type="checkbox" name="ER" checked="checked" id="ER" />
	<label for="ER">ER</label>
	<input type="checkbox" name="NOS" checked="checked" id="NOS" />
	<label for="NOS">NOS</label>
	<input type="checkbox" name="MDS" checked="checked" id="MDS" />
	<label for="MDS">MDS</label>
	<input type="checkbox" name="MDS_sel" checked="checked" id="MDS_sel" />
	<label for="MDS_sel">MDS(sel)</label>
</div>
<p />

<table width="100%">
	<tr>
		<td>
			<div id="placeholder_prices_legend"></div>
		</td>
		<td>
			<div style="float:left">
				<div id="placeholder_quantity_legend"></div>
			</div>
		</td>
		<td>
			<div style="float:left">
				<div id="placeholder_smile_legend"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div style="float:left">
				<div id="placeholder_prices" style="float:left;width:500px;height:400px"></div>
			</div>
		</td>
		<td>
			<div style="float:left">
				<div id="placeholder_quantity" style="float:left;width:500px;height:400px"></div>
			</div>
		</td>
		<td>
			<div style="float:left">
				<div id="placeholder_smile" style="float:left;width:300px;height:400px"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<div id="placeholder_flow_legend"></div>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<div style="float:left">
				<div id="placeholder_flow" style="float:left;width:500px;height:400px"></div>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<div id="notificationarea" style="float:left"></div>
		</td>
	</tr>
</table>

<form id="csvdownload" action="get" action=""
	style="display:none; visibility:hidden">
	<input id="format" type="hidden" name="format" value="csv" />
	<input id="samples_dir" type="hidden" name="samples_dir" value="" />
</form>





